# Ineuron Python Advanced Programming 07

>Q. 1. Write a function that counts how many concentric layers a rug.
Examples
count_layers([
'AAAA',
'ABBA',
'AAAA'
]) ➞ 2
count_layers([
'AAAAAAAAA',
'ABBBBBBBA',
'ABBAAABBA',
'ABBBBBBBA',
'AAAAAAAAA'
]) ➞ 3

In [1]:
def count_layers(lst):
    layers = lenth = len(lst)
    if layers % 2 == 0:
        print("Not a concentric layers")
    else:
        mid = len(lst)//2
    i = 0
    layerCnt = 0
    while (i <= mid):     # since concetric layers will be symetric, checking for half of the layers
        print(lst[lenth-1])
        if lst[i] == lst[lenth-1]: 
            layerCnt +=1
            lenth -=1
            i +=1
        else:
            print('not a concentric layer')
            return False
    return "Number of layers -> ",layerCnt

In [5]:
count_layers([
'AAAA',
'ABBA',
'AAAA'
])

AAAA
ABBA

('Number of layers -> ', 2)

In [6]:
count_layers([
'AAAAAAAAA',
'ABBBBBBBA',
'ABBAAABBA',
'ABBBBBBBA',
'AAAAAAAAA'
])

AAAAAAAAA
ABBBBBBBA
ABBAAABBA

('Number of layers -> ', 3)

In [7]:
count_layers([
'AAAAAAAAAAA',
'AABBBBBBBAA',
'AABCCCCCBAA',
'AABCAAACBAA',
'AABCADACBAA',
'AABCAAACBAA',
'AABCCCCCBAA',
'AABBBBBBBAA',
'AAAAAAAAAAA'
])

AAAAAAAAAAA
AABBBBBBBAA
AABCCCCCBAA
AABCAAACBAA
AABCADACBAA

('Number of layers -> ', 5)

>Q. 2. There are many different styles of music and many albums exhibit multiple
styles. Create a function that takes a list of musical styles from albums and
returns how many styles are unique.
Examples
unique_styles([
'Dub,Dancehall',
'Industrial,Heavy Metal',
'Techno,Dubstep',
'Synth-pop,Euro-Disco',
'Industrial,Techno,Minimal'
]) ➞ 9
unique_styles([

'Soul',
'House,Folk',
'Trance,Downtempo,Big Beat,House',
'Deep House',
'Soul'

In [8]:
def unique_styles(lst):
    uplst = []
    for i in lst:
        uplst.extend(i.split(','))
    return "unique style ",len(set(uplst))

In [9]:
unique_styles([
'Dub,Dancehall',
'Industrial,Heavy Metal',
'Techno,Dubstep',
'Synth-pop,Euro-Disco',
'Industrial,Techno,Minimal'
])

('unique style ', 9)

In [10]:
unique_styles([
'Soul',
'House,Folk',
'Trance,Downtempo,Big Beat,House',
'Deep House',
'Soul'
])

('unique style ', 7)

>Q. 3. Create a function that finds a target number in a list of prime numbers.
Implement a binary search algorithm in your function. The target number will
be from 2 through 97. If the target is prime then return 'yes' else return 'no'.
Examples
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67,
71, 73, 79, 83, 89, 97]

is_prime(primes, 3) ➞ 'yes'
is_prime(primes, 4) ➞ 'no'
is_prime(primes, 67) ➞ 'yes'
is_prime(primes, 36) ➞ 'no'

In [11]:
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67,71, 73, 79, 83, 89, 97]

def is_prime(primes,item):
    first = 0
    last = len(primes)-1
    found = False
    yes = 'No'
    while( first<=last and not found):
        mid = (first + last)//2
        if primes[mid] == item :
            found = True
            yes = 'Yes'
        else:
            if item < primes[mid]:
                last = mid - 1
            else:
                first = mid + 1	
    return yes

In [12]:
is_prime(primes, 3)

'Yes'

In [13]:
is_prime(primes, 4)

'No'

In [14]:
is_prime(primes, 67)

'Yes'

In [15]:
is_prime(primes, 36)

'No'

>Q.4. Create a function that takes in n, a, b and returns the number of positive
values raised to the nth power that lie in the range [a, b], inclusive.
Examples
power_ranger(2, 49, 65) ➞ 2
 2 squares (n^2) lie between 49 and 65, 49 (7^2) and 64 (8^2)
power_ranger(3, 1, 27) ➞ 3
 3 cubes (n^3) lie between 1 and 27, 1 (1^3), 8 (2^3) and 27 (3^3)
power_ranger(10, 1, 5) ➞ 1
 1 value raised to the 10th power lies between 1 and 5, 1 (1^10)
power_ranger(5, 31, 33) ➞ 1
power_ranger(4, 250, 1300) ➞ 3

In [16]:
def power_ranger(n, min, max):
    count = 0 
  
    for i in range(max): 
        if i**n in range(min,max): 
            print('{}^{} lies between {} and {}'.format(i,n,min,max)) 
            count += 1 
    return 'Total values found =',count

In [17]:
power_ranger(2, 49, 65)

7^2 lies between 49 and 65
8^2 lies between 49 and 65

('Total values found =', 2)

In [18]:
power_ranger(3, 1, 27)

1^3 lies between 1 and 27
2^3 lies between 1 and 27

('Total values found =', 2)

In [19]:
power_ranger(10, 1, 5)

1^10 lies between 1 and 5

('Total values found =', 1)

In [20]:
power_ranger(5, 31, 33)

2^5 lies between 31 and 33

('Total values found =', 1)

In [21]:
power_ranger(4, 250, 1300)

4^4 lies between 250 and 1300
5^4 lies between 250 and 1300
6^4 lies between 250 and 1300

('Total values found =', 3)

>Q. 5. Given a number, return the difference between the maximum and minimum
numbers that can be formed when the digits are rearranged.
Examples
rearranged_difference(972882) ➞ 760833
988722 - 227889 = 760833
rearranged_difference(3320707) ➞ 7709823
 7733200 - 23377 = 7709823
rearranged_difference(90010) ➞ 90981
 91000 - 19 = 90981

In [22]:
def findDigit(n):
    rev = 0
    digit = [] 
    while(n > 0): 
        a = n % 10
        rev = rev * 10 + a 
        digit.append(a)
        n = n // 10  
    return digit
    

def findMax(digit):
    max = int(''.join([str(i) for i in sorted(digit,reverse = True)]))
    return max
      
def finMin(digit):  
    min = int(''.join([str(i) for i in sorted(digit,reverse = False)]))
    return min
def rearranged_difference(n):
    digit = findDigit(n)
    return findMax(digit) - finMin(digit)

In [23]:
rearranged_difference(972882)

760833

In [24]:
rearranged_difference(3320707)

7709823

In [25]:
rearranged_difference(90010)

90981